.main {
    display: flex;
    flex-direction: column;
}

.section {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.623), 
            rgba(0, 0, 0, 0.45)
        ),
        url(../img/Ink.jpg);
    background-size: 590px;
    margin-bottom: 40px;
}

p {
    color: rgb(0, 0, 0);
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
    color: white;
}

.landing {
    font-size: 3rem;
}

.landingBottom {
    display: flex;
    flex-direction: column;
}