.section {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.623), 
            rgba(0, 0, 0, 0.45)
        ),
        url(../img/Ink.jpg);
    background-size: 590px;
}

/* .section {
    width: 80%;
} */

p {
    color: white;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
    color: white;
}

.landing {
    font-size: 3rem;
}