.main {
    display: flex;
    flex-direction: column;
}

.section {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.623), 
            rgba(0, 0, 0, 0.45)
        ),
        url(../img/Ink.jpg);
    background-size: 590px;
    margin-bottom: 40px;
}

p {
    color: rgb(0, 0, 0);
}

.lightText {
    width: 80%;
    color: white;
    font-size: 24px;
    margin: 25px auto;
}

div > img {
    max-width: 35%;
    border: solid 2px black;
    border-radius: 10px;
}

.landingImg {
    display: flex;
    justify-content: space-evenly;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
    color: white;
}

.landing {
    font-size: 3rem;
}

.landingBottom {
    display: flex;
    flex-direction: column;
}

.landingBottom > p {
    font-weight: bold;
}

@media only screen and (min-width: 520px) {
    .lightText {
        color: white;
        font-size: 36px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .started {
        margin-top: 50px;
        margin-bottom: 50px;
    }
  }