header {
    background-image: url(../img/Ink.jpg);
    background-size: 100px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

h1 {
    font-family: font;
    color: rgb(86, 193, 255);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow: 3px 3px #27be01;
    font-size: 1.75rem;
}

@media only screen and (min-width: 520px) {
    h1 {
        font-size: 2rem;
    }

    .email > p {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 800px) {
    h1 {
        font-size: 3rem; 
    }
}

@font-face {
    font-family: font;
    src: url(../fonts/Republiko.otf);
}