header {
    background-image: url(../img/Ink.jpg);
    background-size: 80px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    /* border-bottom: solid 3px black; */
}

h1 {
    font-family: font;
    color: rgb(0, 162, 255);
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px #33ff00;
    font-size: 1rem;
}


.email {
    display: flex;
    align-items: center;
    font-size: 10px;
}

.email > p {
    color: white;
    text-shadow:
     -2px -2px 0 #000,  
      2px -2px 0 #000,
      -2px 2px 0 #000,
       2px 2px 0 #000;
    margin-right: 3px;
}



@media only screen and (min-width: 520px) {
    h1 {
        font-size: 2rem;
    }

    .email > p {
        font-size: 1rem;
    }
}





@font-face {
    font-family: font;
    src: url(../fonts/Republiko.otf);
}