* {
  border: solid 1px black;
}

header {
  background-color: rgba(124, 5, 124, 0.336);
  height: 75px;
}

h1 {
  color: rgb(0, 0, 0);
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw
}