header {
  background-color: rgba(124, 5, 124, 0.336);
  height: 75px;
}

h1 {
  color: rgb(0, 0, 0);
}

h2 {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw
}

.games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
}

form, .addGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  align-self: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border-radius: 5px;
  padding: 3px 5px;
  border: solid 1px black;
}

input, select {
  margin-bottom: 10px;
}