header {
  background-color: rgba(124, 5, 124, 0.336);
  height: 75px;
}

h1 {
  color: rgb(0, 0, 0);
}

h2 {
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw
}

.games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

form, .addGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  align-self: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}